.city-selector-box {
  position: relative;
}

.city-selector-box .city-link {
  text-decoration: none;
  margin-right: 8px;
  cursor: pointer;
}

.city-selector-box .city-info-box {
  width: 50px;
  padding: 3px 5px;
  margin-left: 140px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.city-selector-box .city-list-box {
  position: relative;
  display: none;
  width: 200px;
  padding: 6px 0;
  margin-top: 9px;
  animation: fadeIn .5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.city-selector-box .city-info-box,
.city-selector-box .city-list-box {
  border-radius: 4px;
}

.city-selector-box .city-list-box:before {
  content: '';
  position: absolute;
  top: -4px;
  right: 25px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 5px;
  border-color: transparent;
}

.city-selector-box .city-list-box.active {
  display: block;
}

.city-selector-box .city-list {
  padding: 6px 8px;
}

.city-selector-box .city-list:first-child {
  padding-top: 0;
}

.city-selector-box .city-list:last-child {
  padding-bottom: 0;
}

.city-selector-box .city-list-lt {
  position: absolute;
  right: 0;
  margin-top: 5px;
  border: none !important;
}

.city-selector-box .city-list-lt .letter-link {
  cursor: pointer;
  line-height: 15px;
}

.city-selector-box .city-list-lt .letter-link:hover {
  text-decoration: underline;
}

.city-selector-box .city-list-pv {
  padding-right: 16px;
  height: 185px;
  overflow-x: hidden;
  overflow-y: auto;
}

.city-selector-box .city-list-dl {
  margin: 0;
}

.city-selector-box .city-list-dl:not(:first-child) {
  margin-top: 6px;
}

.city-selector-box .city-list-dl dt {
  float: left;
  width: 50px;
  margin-right: 0;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.city-selector-box .city-list-dl dd {
  margin-left: 50px;
}

.city-selector-box .city-list-pv::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.city-selector-box .city-list-pv::-webkit-scrollbar-thumb,
.city-selector-box .city-list-pv::-webkit-scrollbar-track {
  border-radius: 4px;
}


/* theme light */
.city-selector-box.light .city-link,
.city-selector-box.light .letter-link {
  color: #333;
}

.city-selector-box.light .city-info-box,
.city-selector-box.light .city-list-box {
  box-shadow: 0 8px 20px 6px rgba(31, 51, 73, .1);
  background: #fff;
}

.city-selector-box.light .city-list-box:before {
  border-bottom-color: #fff;
}

.city-selector-box.light .city-list:not(:first-child) {
  border-top: 1px solid rgba(0, 0, 0, .1);
}

.city-selector-box.light .city-list-pv::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}

.city-selector-box.light .city-list-pv::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

/* theme dark */
.city-selector-box.dark .city-link,
.city-selector-box.dark .letter-link,
.city-selector-box.dark .city-info-box {
  color: #e5e5e5;
}

.city-selector-box.dark .city-info-box,
.city-selector-box.dark .city-list-box {
  box-shadow: 0 8px 20px 6px rgba(31, 51, 73, .1);
  background: #313d4f;
}

.city-selector-box.dark .city-list-box:before {
  border-bottom-color: #313d4f;
}

.city-selector-box.dark .city-list:not(:first-child) {
  border-top: 1px solid rgba(255, 255, 255, .1);
}

.city-selector-box.dark .city-list-pv::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
}

.city-selector-box.dark .city-list-pv::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}